;TIP: one can comment lines in this config format by adding a ; at the start of a line

[data]

word_vectors=word-vectors/prefix_paragram.txt
exp_name=woz_stat_update

[train]

train_superslot=False
validation=False
; need epoch count, batch size, batches per epoch, positive to negative ratio etc here 

flist_path_train=data/flists/dstc2_simpleacts_train.flist

batch_size=256
batches_per_epoch=64
max_epoch=400

[model]

dataset_name=woz
ontology_filepath=ontologies/ontology_dstc2_en.json
num_models=1
model_type=cnn
language=english
delex_features=False
value_specific_decoder=False
learn_belief_state_update=True
general_model=False
train_asr=True
train_asr_count=1


[test]

evaluate_superslot=False

;override for testing other model's languages on different WOZ test sets
test_model_language=english

flist_path_test=data/flists/dstc2_simpleacts_test.flist
final_write_path=results/dstc2_simpleacts_test_deep_tracker_dstc2.json

write_path_submodels=results/deep_tracker_dstc2_
eval_config_filepath=config/deep_tracker_dstc2.cfg
	
